/* Static page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ibarra Real Nova', serif;
}
a{
    text-decoration: none;
}


header{
    background-image: url('./images/cocktailbar.jpg');
    background-size: cover;
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}
.home{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 1em;
    left: 1em;
}
.material-icons{
    font-size: 2rem;
    color: white;
    cursor: pointer; 
}
.menu{
    position: absolute;
    top: 1em;
    right: 1em;
}
.unmute, .mute{
    position: absolute;
    bottom: 1em;
    right: 1em;
    opacity: 0.5;
}
.mute{
    display: none;
}
.mobileMenu{
   display: none;
}
.mobileMenu h2{
    
    padding: 0.3em 0;
    font-size: 1.8em;
}
.mobileMenu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid white;
}
.mobileMenu a:hover{
    color: rgb(211, 211, 211);
}

.open-mobile-menu{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
    background-color: #a0a0a0;
}

h1{
    display: inline;
    text-align: center;
    color: white;
    font-size: clamp(2.5em, 8vw, 4em);
    text-shadow: -1px 1px 5px #141414;
}

/* body */
.body-wrapper{
    max-width: 80%;
    margin: 0 auto;
}
.quote-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    margin: 3em auto;
    font-size: 1.4em;
}
.quote{
    position: relative;
    text-align: center;
}
.quote::before{
    content: open-quote;
}
.quote::after{
    content: close-quote;
}
.quoter{
    font-style: italic;
    margin-top: 0.75em;
}

/*SEARCH*/

 .search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 6em auto;
    border-radius: 0.5em;
    background-color: #F2F2F2;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
}
input{
    border: none;
    border-radius: 0.5em;
    height: 3.5em;
    width: 85%;
    
    color: rgb(186, 186, 186);
    font-size: 1.4em;
    background-color: #F2F2F2;
    text-align: center;
    padding-left: 1.5em;
} 
input:focus{
    outline: none;
    color: #565656;
    font-size: 1.4em;
}

 .search-filter-wrapper{
    width: 85%;
    margin: 6em auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 
.looking-glass{
    height: 2.5em;
    width: 2.5em;
    background-image: url('./images/search.png');
    background-size: cover;
    opacity: 0.5;
    cursor: pointer;
    
}

/* dark grey #565656 */
/* light grey #F2F2F2 */
button{
    padding: 1em;
    height: 3.5em;
    width: 100%;
    border-radius: 0.5em;
    border: none;
    font-size: 1.4em;
    letter-spacing: 0.075em;
    font-weight:400;
    background-color: #F2F2F2;
    color: #c4c4c4;
    cursor: pointer;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button:hover{
    
    border: 1px solid rgb(141, 141, 141);
}
/* button:active{
    color: #F2F2F2;
    background-color: #565656;
    border: none;
} */
.button-active{
    color: white;
    background-color: #565656;
    border: none;
}

footer{
    background-color: #565656;
    min-height: 15vh;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: small;
    color: #F2F2F2;
    margin-top: 2rem;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}
.footer-items-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer p{
    padding-bottom: .75em;
    font-size: 1.3em;
}
footer a{
    text-decoration: none;
    color: inherit;
}

/* Dynamic elements */

/* Error  message*/
.error-message{
    font-size: 1.3em;
    line-height: 1.7em;
    text-align: center;
    margin-top: 2em;
    opacity: 1;
    animation: opacity 1s ease-in;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1
    } 
}

/*RESULTS MEDIA QUERIES*/
.results{
    width: 85%;
    margin: 0 auto;
}
details{
    margin: 1em 0;
    box-shadow: -2px 2px 3px 2px  rgb(186, 186, 186);
    border-radius: 0.5em;
    width: 100%;
    font-size: 1em;
}
summary{
    padding: 1em 0.5em;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
}
summary::marker{
    content: '\03D2  ';
    font-size: 0.8em;
}
details[open] summary{
    padding: 0.5em 0 0 0 ;
}
details[open]{
    padding: 1em 0em 1em 1.5em;
}
details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
@keyframes sweep {
    0%    {opacity: 0; transform: translateX(-10px)}
    100%  {opacity: 1; transform: translateX(0)}
  }
.ingredient-title{
    max-width: 80%;
    padding: 0.5em 0;
}
details > p, ul{
    max-width: 80%;
    list-style-type: none;
    line-height: 1.5em;
    padding-bottom: 1em;
}
 .drink-type{
    font-weight: 600;
    font-style: italic;
    padding-top: 1.5em;
}
details img{
    width: 40%;
    border-radius: 50%;
    box-shadow: -3px 3px 4px 2px  rgb(186, 186, 186);
    margin: 2em 0 0em 0;
}
ul{
    line-height: 1.7em;
}
.ingredient-title{
    padding-top: 2rem;
    font-weight: 500;
    font-style: italic;
}
.glass-type{
    font-style: italic;
}